%%% -*- mode: erlang -*-
%%% vim: set filetype=erlang:
[

 {kernel, [
           {inet_dist_listen_min, 10000},
           {inet_dist_listen_max, 10000}
          ]},

 {os_mon, [
           {start_cpu_sup, false},
           {start_disk_sup, false}
          ]},
{lager, [
          {colored, true},
          {handlers, [
                      {lager_console_backend, debug },
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend,
                       [{file, "log/access.log"},
                        {level, none},
                        {formatter, lager_default_formatter},
                        {formatter_config, [date, " ", time, " ", message, "\n"]}
                       ]}
                     ]
          },
          {traces,
           [
            {
              {lager_file_backend, "log/access.log"},
              [{type, access}], debug
            }
           ]},
          {error_logger_hwm, undefined}
         ]},

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].
